# ----- Para la API (Render) -----
fastapi
uvicorn[standard]

# ----- Para el Dashboard (Streamlit) -----
streamlit
matplotlib  <-- ¡AÑADE ESTA LÍNEA!

# ----- Bibliotecas Comunes (ETL y Dashboard) -----
pandas
numpy
plotly
scipy
requests
statsmodels